body{
    margin: 0 auto;
    /* padding: 5%; */
    padding-top: 2%;
    max-height: min-content;
    max-width: 50rem;

    background-color: grey;

}

nav{
    background-color: maroon;
    color: wheat;
    padding: 5%;
    padding-right: 2%;
    font-weight: 900;
    font-size: large;
    margin-bottom: 1rem;
}

#controlbar>button{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
         border-radius: 0 !important;
}

.no-bullets{
  list-style-type: none;
}

#debug{
    font-size: 0.7rem;
    
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

td{
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
}

#app{
    background-color: whitesmoke;
    padding: 1rem;
    
    box-shadow: 12px 12px black;
}

#showcaseframe{
    overflow-x: auto;
    overflow-y: auto;
    max-height: 45vh;
}
